[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.24"
psycopg2 = "==2.7.7"
pymssql = "==2.1.4"
pymysql = "==0.9.3"
pytz = "==2018.9"
requests = "==2.21.0"
requests-oauthlib = "==1.2.0"

[requires]
python_version = "3.7"
